<div class="login">
  <form class="login__form" novalidate>
    {{{modalTitleLogin}}}
    {{{loginInputEnabled}}}
    {{{passwordInput}}}
    {{{buttonSubmitLogin}}}
    {{{linkJoin}}}
  </form>
</div>
