<div class="login">
  <form class="login__form">
    {{{modalTitleJoin}}}
    {{{emailInputEnabled}}}
    {{{loginInputEnabled}}}
    {{{nameInputEnabled}}}
    {{{surnameInputEnabled}}}
    {{{phoneInputEnabled}}}
    {{{passwordInput}}}
    {{{passwordRepeat}}}
    {{{buttonJoin}}}
    {{{linkToLogin}}}
  </form>
</div>
