<div class="profile">
  {{{buttonArrow}}}
  <form class="profile__info">
    <div class="profile__avatar-info">
      {{{avatar}}}
      {{{profileTitle}}}
    </div>
    <div class="profile__data">
      <div class="profile__texts">
        {{{profileEmail}}}
        {{{profileLogin}}}
        {{{profileName}}}
        {{{profileSurname}}}
        {{{profileChatname}}}
        {{{profileMobile}}}
      </div>
      <div class="profile__inputs">
        {{{emailInputEnabledWithPlaceholder}}}
        {{{loginInputEnabledWithPlaceholder}}}
        {{{nameInputEnabledWithPlaceholder}}}
        {{{surnameInputEnabledWithPlaceholder}}}
        {{{displayNameInputEnabledWithPlaceholder}}}
        {{{phoneInputEnabledWithPlaceholder}}}
      </div>
    </div>
    {{{buttonSave}}}
  </form>
</div>
