<label class="input__label">{{labelName}}</label>
<input type={{type}} name={{name}} class="input {{extraClass}}" {{disabled}}  pattern={{validationPattern}} placeholder={{placeholder}}>
<p class="input__error">{{errorText}}</p>
