<div class="chatWindow">
  <div class="chatWindow__chats">
    <div class="chatWindow__chats-header">
      <div class="chatWindow__chats-header-link">
        {{{linkToProfile}}}
        {{{arrowProfile}}}
      </div>
      {{{searchChatsInput}}}
    </div>
    <div class="chatsList">
      <div class="chatWindow__chat-item">
        {{{chatAvatar}}}
        <div class="chatWindow__texts">
          {{{chatRecName}}}
          {{{chatMessage}}}
        </div>
      </div>
    </div>
  </div>
  <div class="chatWindow__no-chat">

  </div>
</div>
